// Estilos para el header
@import '../../../colors.scss';

header {
    background-color: $header-color !important;
    .navbar-brand {
        margin-left: 50px;
        display: flex !important;
        align-items: center !important;
        img {
            margin-right: 10px !important;
        }
        &.logo {
            color: $logo-color;
            font-weight: bold;
            font-size: 1.5em;
            font-family: 'Nexa', sans-serif;
        }
    }
    .nav-link {
        color: $header-secondary-color !important;
        border-radius: 10px;
        &:hover {
            color: lighten($header-secondary-color, 50%) !important;
            background-color: darken($header-color, 50%);
        }
        margin-left: 50px;
    }
    
    button.selected {
        color: lighten($header-secondary-color, 70%) !important;
        background-color: $header-color-selected;
    }
}