<app-header-page></app-header-page>

<div class="container">
    <header class="unit-header"
        [ngStyle]="{'backgroundColor': subjectService.subjectData?.color}"
    >
        <nav>
            <button class="back-button" routerLink="../..">
                <i class="fas fa-arrow-left"></i> {{subjectService.subjectData?.name}}
            </button>
            <ul class="nav-options">
                <li class="nav-item active" 
                    [ngStyle]="{'color': isSubjectColorDark() ? '#ededed' : 'black' }">
                    Teoría
                </li>
                <li class="nav-item"
                    [ngStyle]="{'color': isSubjectColorDark() ? '#ededed' : 'black' }">
                    Tareas
                </li>
            </ul>
        </nav>
    </header>
    <div class="content">
        <section class="theory active">
            <h2 class="title">Teoría de la Unidad
                <span class="btn btn-primary"
                    *ngIf="loginInfo.role == 'teacher'"
                    (click)="switchCreateTheoryVisible()"
                > + Crear un elemento de teoría </span>
            </h2>
            <ul class="theory-list" *ngFor="let theoryElement of unit.theoryElements">
                <li class="theory-item">
                    <a href="teoria1.html">{{theoryElement.title}}</a>
                </li>
            </ul>
            <ul class="theory-list">
                <li class="theory-item">
                    <a href="teoria1.html">Las pirámides</a>
                </li>
                <li class="theory-item">
                    <a href="teoria1.html">Las esferas</a>
                </li>
            </ul>
            <h2 class="empty" *ngIf="unit.theoryElements?.length == 0">
                Todavía no se ha creado contenido
            </h2>
        </section>
    </div>
</div>

<div class="overlay" *ngIf="isCreateTheoryVisible">
    <div class="content">
    </div>
</div>
<app-create-update-theory
    *ngIf="isCreateTheoryVisible"
    (onAction)="switchCreateTheoryVisible()">
</app-create-update-theory>