<app-header-page></app-header-page>

<div class="container">
    <header class="unit-header"
        [ngStyle]="{'backgroundColor': subjectService.subjectData?.color}"
    >
        <nav>
            <button class="back-button" routerLink="../..">
                <i class="fas fa-arrow-left"></i> {{subjectService.subjectData?.name}}
            </button>
            <ul class="nav-options">
                <li class="nav-item active"
                    [ngClass]="{'active': activedTab == 'theory'}"
                    [ngStyle]="{'color': isSubjectColorDark() ? '#ededed' : 'black' }"
                    (click)="activedTab = 'theory'">
                    Teoría
                </li>
                <li class="nav-item"
                    [ngClass]="{'active': activedTab == 'task'}"
                    [ngStyle]="{'color': isSubjectColorDark() ? '#ededed' : 'black' }"
                    (click)="activedTab = 'task'">
                    Tareas
                </li>
            </ul>
        </nav>
    </header>
    <div class="content" *ngIf="activedTab == 'theory'">
        <section class="theory active">
            <h2 class="title">Teoría de la unidad
                <span class="btn btn-primary"
                    *ngIf="loginInfo.role == 'teacher'"
                    (click)="switchCreateActionsVisible()"
                > + Crear un elemento de teoría </span>
            </h2>
            <ul class="theory-list" *ngFor="let theoryElement of unit.theoryElements">
                <li class="theory-item">
                    <a routerLink="teoria/{{theoryElement.theoryElementId}}">{{theoryElement.title}}</a>
                </li>
            </ul>
            <h2 class="empty" *ngIf="unit.theoryElements?.length == 0">
                Todavía no se ha creado contenido
            </h2>
        </section>
    </div>

    <div class="content" *ngIf="activedTab == 'task'">
        <section class="theory active">
            <h2 class="title">Tareas de la unidad
                <span class="btn btn-primary"
                    *ngIf="loginInfo.role == 'teacher'"
                    (click)="switchCreateActionsVisible()"
                > + Crear una nueva tarea </span>
            </h2>
            <ul class="theory-list" *ngFor="let task of unit.tasks">
                <li class="theory-item">
                    <a routerLink="teoria/{{task.taskId}}">{{task.title}}</a>
                </li>
            </ul>
            <h2 class="empty" *ngIf="unit.tasks?.length == 0">
                Todavía no se ha creado contenido
            </h2>
        </section>
    </div>
</div>

<div class="overlay" *ngIf="isCreateActionsVisible">
    <div class="content">
    </div>
</div>
<app-create-update-theory
    *ngIf="isCreateActionsVisible && activedTab == 'theory'"
    [unit]="unit"
    (onAction)="switchCreateActionsVisible(); updateUnitFromSubjectData($event!)">
</app-create-update-theory>
<app-create-update-task
    *ngIf="isCreateActionsVisible && activedTab == 'task'"
    [unit]="unit"
    (onAction)="switchCreateActionsVisible(); updateUnitFromSubjectData($event!)">
</app-create-update-task>