<app-header-page></app-header-page>

<!-- Main Content -->
<main class="container mt-5">
    <div class="row">

        <!-- Subscripciones -->
        <ng-container 
            *ngIf="loginInfo.role == 'student'"
        >
            <h1>Clases suscritas
                <span class="btn btn-primary"
                    (click)="switchSubscribeSubjectVisible()"
                > + Suscribirse a una clase </span>
            </h1>
            <h2 class="empty-classes" *ngIf="loginInfo.userData?.subjectsSubscribed?.length == 0">
                Todavía no dispones de suscripciones a clases
            </h2>
            <div class="col-md-4"
                *ngFor="let subject of loginInfo.userData?.subjectsSubscribed"
            >
                <div class="card mb-4 shadow-sm"
                    [ngStyle]=" {
                        'backgroundColor': subject.color,
                        'color': isCardDark(subject) ? '#ededed' : 'black'
                    }"
                >
                    <div class="card-body">
                        <h5 class="card-title">{{subject.name}}</h5>
                        <p class="card-text">Gestionada por <span class="highlight">{{subject.teacherId}}</span></p>
                        <a routerLink="/clase/{{subject.accessCode}}" class="btn btn-primary">Entrar</a>
                    </div>
                </div>
            </div>
        </ng-container>

        <!-- Clases creadas -->
        <ng-container 
            *ngIf="loginInfo.role == 'teacher'"
        >
            <h1>
                Clases creadas
                <span class="btn btn-primary"
                    (click)="switchCreateSubjectVisible()"
                > + Crear clase </span>
            </h1>
            <h2 class="empty-classes" *ngIf="loginInfo.userData?.subjectsCreated?.length == 0">
                Todavía no has creado ninguna clase
            </h2>
            <div class="col-md-4"
                *ngFor="let subject of loginInfo.userData?.subjectsCreated"
            >
                <div class="card mb-4 shadow-sm"
                    [ngStyle]="{
                        'backgroundColor': subject.color,
                        'color': isCardDark(subject) ? '#ededed' : 'black'
                    }"
                >
                    <div class="card-body">
                        <h5 class="card-title">{{subject.name}}</h5>
                        <p class="card-text">
                            Código de acceso 
                            <span class="access-code">{{subject.accessCode}}</span>
                        </p>
                        <a routerLink="/clase/{{subject.accessCode}}" class="btn btn-primary">Gestionar</a>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</main>

<div class="overlay" *ngIf="isSubscribeSubjectVisible || isCreateSubjectVisible">
    <div class="content">
    </div>
</div>
<app-subscribe-subject 
    *ngIf="isSubscribeSubjectVisible"
    (onAciton)="switchSubscribeSubjectVisible()">
</app-subscribe-subject>
<app-create-subject 
    *ngIf="isCreateSubjectVisible"
    (onAciton)="switchCreateSubjectVisible()">
</app-create-subject>