// Estilos para las tarjetas de clase
@import '../../../colors.scss';

.card {
    border: none;
    &-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        h5 {
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }
        p {
            margin-bottom: 1.5rem;
            .access-code {
                display: block;
                margin-top: 0;
                font-weight: bold;
            }
        }
    }
}

h1 {
    margin-bottom: 30px;
    span {
        margin-left: 15px;
        font-size: 1rem;
        background-color: $homepage-create-button-color;
        color: $homepage-create-button-textcolor;
        &:hover {
            background-color: lighten($homepage-create-button-color, 10%);
        }
    }
}