// Estilos para las tarjetas de clase
.card {
    border: none;
    &-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        h5 {
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }
        p {
            margin-bottom: 1.5rem;
        }
    }
}
