<div class="container">
  <h2 *ngIf="!task">Crear tarea</h2>
  <h2 *ngIf="task">Modificar tarea</h2>
  <form [formGroup]="taskForm" (ngSubmit)="createUpdateTask()">
    <input type="text" formControlName="title" placeholder="Título de la tarea" required>
    <!-- TODO Ampliar anchura -->
    <input type="text" class="description" formControlName="description" placeholder="Descripción" required>
    <label>Fecha de entrega</label>
    <input type="datetime-local" class="form-control" formControlName="deadline" placeholder="Fecha de entrega" required>
    <ng-container *ngIf="!task">
      <input type="file" id="file" name="file" (change)="onUpload($event)">
      <div class="file-upload-wrapper">
        <label for="file" class="file-upload-label">
          <span>Selecciona el archivo</span>
        </label>
      </div>
    </ng-container>
    <button class="btn save" [disabled]="taskForm.invalid || (!taskFile && !task)">Guardar</button>
    <button class="btn cancel" (click)="cancel()">Cancelar</button>
  </form>
</div>
<!-- TODO -->