<app-header-page></app-header-page>

<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4 shadow-sm" *ngIf="newSubjectCode === undefined">
    <h2 class="text-center mb-4">Crear Asignatura</h2>
    <form [formGroup]="subjectForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="color">Color de Fondo</label>
            <input type="color" class="form-control" id="color" formControlName="color">
            <div *ngIf="subjectForm?.get('color')?.invalid && subjectForm?.get('color')?.touched" class="text-danger">
              El color es requerido.
            </div>
        </div>
        <div class="form-group">
            <label for="name">Nombre de la Asignatura</label>
            <input type="text" class="form-control" id="name" formControlName="name" placeholder="Matemáticas">
            <div *ngIf="subjectForm?.get('name')?.invalid && subjectForm?.get('name')?.touched" class="text-danger">
              El nombre es requerido.
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block" [disabled]="subjectForm.invalid">Crear</button>
        <!-- Alerta de error de creación -->
        <div *ngIf="createError" class="alert alert-danger mt-2" role="alert">
            <i class="fas fa-exclamation-circle"></i> Error inesperado al crear asignatura.
        </div>
    </form>
  </div>
    <ng-container *ngIf="newSubjectCode != undefined">
      <div class="created-info">
        <h1>Clase creada</h1> 
        <h2>Comparte tu código de clase</h2>
        <h3>{{newSubjectCode}}</h3>
        <a routerLink="/">Volver</a>
      </div>
    </ng-container>
</div>
