// logo
$logo-color: rgb(0, 0, 0);

// buttons
$button-primary-color: #356d65;
$button-secondary-color: #6c757d;

// header
$header-color: rgb(241, 238, 238);
$header-secondary-color: rgb(88, 88, 88);
$header-background-color-selected: rgb(255, 255, 255);
$header-color-selected: rgb(85, 85, 85);

// homepage
$homepage-create-button-color: rgb(80, 153, 80);
$homepage-create-button-textcolor: rgb(255, 255, 255);
