<app-header-page></app-header-page>

<div class="container">
    <header class="class-header" 
      [ngStyle]="{
        'backgroundColor': subjectService.subjectData?.color,
        'color': isSubjectColorDark() ? '#ededed' : 'black'
      }"
    >
        <h1>{{subjectService.subjectData?.name}}</h1>
        <p><span class="highlight">
            {{subjectService.subjectData?.teacher?.email}}
        </span></p>
    </header>
    <span class="btn btn-primary"
        *ngIf="loginInfo.role == 'teacher'"
        (click)="onCreateUnit()"
    > + Crear unidad </span>
    <h2 *ngIf="subjectService.subjectData?.units?.length == 0">
        <ng-container *ngIf="loginInfo.role == 'teacher'">Todavía no has publicado contenido</ng-container>
        <ng-container *ngIf="loginInfo.role == 'student'">El creador todavía no ha publicado contenido</ng-container>
    </h2>
    <div class="units" *ngFor="let unit of subjectService.subjectData?.units">
        <div class="unit">
            <h2><span class="unit-link" routerLink="unidad/{{unit.unitId}}">{{unit.title}}</span>
                <button class="btn edit-unit" 
                        (click)="onUpdateUnit(unit)"
                        *ngIf="loginInfo.role == 'teacher'">
                    <i class="fas fa-pencil-alt"></i>
                </button>
            </h2>
            <h5 *ngIf="loginInfo.role == 'student' && unit.tasks?.length! > 0">
                Tareas pendientes <span class="date">Fecha de entrega</span>
            </h5>
            <h5 *ngIf="loginInfo.role == 'teacher' && unit.tasks?.length! > 0">
                Tareas creadas <span class="date">Fecha de entrega</span>
            </h5>
            <ul class="tasks" *ngFor="let task of unit.tasks">
                <li class="task">{{task.title}} 
                    <span class="date highlight">{{task.deadline! | europeanDate}}</span>
                </li>
            </ul>
        </div>
    </div>

    <!-- Only for testing -->
    <!-- <div class="develop">
        <h3>Develop tool</h3>
        <input type="file" (change)="onUpload($event)">
        <button (click)="onUploadConfirm()">Create delivery</button>
    </div> -->
</div>

<div class="overlay" *ngIf="isCreateUnitVisible">
    <div class="content"></div>
</div>
<app-create-update-unit 
    *ngIf="isCreateUnitVisible" 
    (onAction)="switchCreateUnitVisible()"
    [unit]="unitToUpdate!">
</app-create-update-unit>