<app-header-page></app-header-page>

<div class="container">
    <header class="class-header" 
      [ngStyle]="{
        'backgroundColor': subjectService.subjectData?.color,
        'color': isSubjectColorDark() ? '#ededed' : 'black'
      }"
    >
        <h1>{{subjectService.subjectData?.name}}</h1>
        <p><span class="highlight">
            {{subjectService.subjectData?.teacher?.email}}
        </span></p>
    </header>
    <h2 *ngIf="subjectService.subjectData?.units?.length == 0">
        El creador todavía no ha publicado contenido
    </h2>
    <div class="units" *ngFor="let unit of subjectService.subjectData?.units">
        <div class="unit">
            <h2>{{unit.title}}</h2>
            <h5>Tareas pendientes</h5>
            <ul class="tasks" *ngFor="let task of unit.tasks">
                <li class="task">{{task.title}} 
                    <span class="date">{{task.deadline! | europeanDate}}</span>
                </li>
            </ul>
        </div>
        <!-- Añadir más unidades según sea necesario -->
    </div>
</div>
